---
---

<footer class="py-4 text-center">
  <small>
    <span>&copy; 2020-{new Date().getFullYear()}</span>
    <a href="https://r203.org" target="_blank" class="ml-1">egamasa</a>
  </small>
</footer>
